{
  "project_info": {
    "project_number": "SEU_PROJECT_NUMBER",
    "project_id": "SEU_PROJECT_ID",
    "storage_bucket": "SEU_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:SEU_PROJECT_NUMBER:android:HASH",
        "android_client_info": {
          "package_name": "com.tsrapprun.android"
        }
      },
      "oauth_client": [
        {
          "client_id": "SEU_WEB_CLIENT_ID.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "SUA_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
